body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-order-box {
  overflow: visible;
}

.sticky-tablist {
  position: absolute;
  top: 0;
  z-index: 1000;
}

.fragrance-box {
  width: 500px;
}
